argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0





Django==4.2.10
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1

django-simple-history==3.3.0
django-import-export==3.2.0


django-cors-headers==4.3.1
django-environ==0.11.2

djoser==2.2.2

pillow==10.2.0
psycopg2==2.9.9
PyJWT==2.8.0
whitenoise==6.6.0


python-dateutil==2.9.0.post0